<% @all_posts.each_with_index do |post, i| %>
  <% i = i + 1 %>
  <% if i % 2 == 1 %>
  <div class="row">
  <% end %>
    <div class="col-lg-6">
      <div class="well sidebar-nav">
        <% if post.image? %>
          <%= image_tag(post.image.thumb.url, :class => "width100") %>
        <% end %>
        <h3><%= link_to "#{post.title}", post_path(post.id) %></h3>
        <p><%= post.content.truncate(90) %></p>
        <small>イイね8　</small>
        <small>コメント8</small>
      </div><!--/.well -->
    </div><!--/span-->
  <% if i % 2 == 0 %>
  </div>
  <% end %>
<% end %>