// Navi Bar
// -------------------------------

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.width100 {
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-top {
  margin-top: 10px;
}